@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Alegreya Sans SC", sans-serif;
  scroll-behavior: smooth;
  color: var(--white-color);
  background: var(--black-gray);

  font-weight: 300;
}
html {
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
  border-radius: 3px;
}
h1,
h2,
h3,
p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}
p {
  /* color: var(--gray-lightr2); */
  color: var(--gray-lightr);
  line-height: 2;
  /* padding: 0 20px; */
  font-size: 0.8rem;
}
/* 
======================
global style
======================
*/

:root {
  --black-gray: rgb(19, 18, 18);
  --black-gray2: rgba(2, 2, 15, 0.973);
  --black-gray3: rgb(43, 42, 42);
  --gray-color: rgb(118, 117, 117);
  --gray-lightr: rgb(204, 203, 203);
  --gray-lightr2: rgb(238, 236, 236);
  --white-color: #fff;
  --white-color2: rgb(240, 237, 237);
  --white-color3: rgb(239, 220, 220);
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --box-shadow-2: inset -0.1rem -0.1rem 13px #fff,
    inset 0.1rem -0.1rem 13px rgba(0, 0, 0, 0.1), inset 6px 6px 13px #fff,
    inset -6px -6px 13px rgba(0, 0, 0, 0.1);
  --transition: all ease 0.5s;
  --b-color: rgba(183, 238, 233, 0.863);
}

.section {
  padding: 2rem 1rem;
  /* border-top: 1px solid #ddd; */
  transition: var(--transition);
  opacity: 0;
  transform: translate(100px);
}

.section-show {
  transform: translateY(0);
  opacity: 1;
}
.height {
  height: 100%;
}
a {
  color: var(--white-color);
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
}

.btn {
  border: 1px solid var(--white-color);
  width: 25%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  /* background-color: red; */
  transition: var(--transition);
  margin-bottom: 2rem;
}
.btn:hover {
  color: var(--black-gray);
  background: var(--white-color);
  border: 1px solid var(--b-color);
}

.btn-center {
  margin: 0 auto;
}
.section-center {
  /* width: 100%; */
  margin: 0 auto;
  max-width: 1120px;
}
.section-box {
  box-shadow: var(--box-shadow);
  padding: 10px 0;
}

/* 
======================
header
======================
*/
header {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-size: 1rem;
}
nav i {
  font-size: 2rem;
}

nav ul {
  display: none;
}

@media screen and (min-width: 700px) {
  nav ul {
    display: flex;
    flex-direction: flex;
    gap: 0 2rem;
  }
  nav ul li {
    list-style: none;
  }
}
/* 
======================
banner
======================
*/

/* .Banner-sec {
  height: 100vh;
} */

.banner {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  place-items: center;
  place-content: center;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.banner h3 {
  font-size: 0.7rem;
}

.banner h1 {
  font-size: 3.4rem;
}
.banner h4 {
  font-size: 2rem;
  color: var(--b-color);
}
.banner p {
  font-size: 1rem;
}

span {
  color: var(--b-color);
}

.pro {
  width: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -2rem;
}

/* 
======================
global grid
======================
*/
@media screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
  }
}

.line {
  width: 20%;
  background-color: var(--white-color);
  height: 2px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.sectiion-title h2 {
  text-align: center;
}

/* 
======================
about
======================
*/

.about img {
  width: 100%;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 700px) {
  .about img {
    width: 70%;
    margin-bottom: 0.5rem;
  }
}

/* 
======================
skill
======================
*/

.skill-sec {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  align-items: center;
  place-items: center;
  /* width: 100%; */
  padding: 20px;
}

.skill-set {
  /* padding: 10px; */
  width: 80%;
  padding: 15px;
  box-shadow: var(--box-shadow-2);
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
  background: var(--white-color);
}
.skill-img img {
  margin: 0 auto;
  color: white;

  width: 40px;
}
.skill-set h4 {
  color: black;
  text-align: center;
  font-size: 0.6rem;
}
