@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Alegreya Sans SC", sans-serif;
  scroll-behavior: smooth;
  color: var(--white-color);
  background: var(--black-gray);

  font-weight: 300;
}
html {
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
  border-radius: 3px;
}
h1,
h2,
h3,
p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}
p {
  /* color: var(--gray-lightr2); */
  color: var(--gray-lightr);
  line-height: 2;
  /* padding: 0 20px; */
  font-size: 0.8rem;
}
/* 
======================
global style
======================
*/

:root {
  --black-gray: rgb(19, 18, 18);
  --black-gray2: rgba(2, 2, 15, 0.973);
  --black-gray3: rgb(43, 42, 42);
  --gray-color: rgb(118, 117, 117);
  --gray-lightr: rgb(204, 203, 203);
  --gray-lightr2: rgb(238, 236, 236);
  --white-color: #fff;
  --white-color2: rgb(240, 237, 237);
  --white-color3: rgb(239, 220, 220);
  --box-shadow: 0 0.5rem 1.5rem rgba(183, 238, 233, 0.096);
  --box-shadow-2: inset -0.1rem -0.1rem 13px #fff,
    inset 0.1rem -0.1rem 13px rgba(0, 0, 0, 0.1), inset 6px 6px 13px #fff,
    inset -6px -6px 13px rgba(0, 0, 0, 0.1);
  --transition: all ease 0.5s;
  --b-color: rgba(183, 238, 233, 0.863);
}

.section {
  padding: 2rem 1rem;
  /* border-top: 1px solid #ddd; */
  transition: var(--transition);
  opacity: 0;
  transform: translate(100px);
  /* height: 75vh; */
}
.section-center {
  /* width: 100%; */
  margin: 0 auto;
  max-width: 1120px;
}

.section-show {
  transform: translateY(0);
  opacity: 1;
}
.height {
  height: 100%;
}
a {
  color: var(--white-color);
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
}

li {
  list-style: none;
}

.btn {
  border: 1px solid var(--white-color);
  width: 25%;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  /* background-color: red; */
  transition: var(--transition);
  /* margin: 10rem 0; */
  cursor: pointer;
}
.btn:hover {
  color: var(--black-gray);
  background: var(--white-color);
  border: 1px solid var(--b-color);
}

.section-box {
  box-shadow: var(--box-shadow);
  padding: 10px 0;
}

/* 
======================
header
======================
*/
header {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1120;
}

nav {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: flex-start;
}
nav h1 {
  font-size: 1rem;
}
nav i {
  font-size: 2rem;
}
nav {
  position: relative;
}

.nav-links {
  position: absolute;
  top: 250%;
  right: -40%;
  transition: var(--transition);
}
.bars .cancel {
  display: none;
}
.bars .fa-times {
  display: none;
}
.bars-rot {
  animation-name: rot;
  animation-duration: 1s;
  /* animation-iteration-count: infinite; */
}
.bar-x-rot {
  animation-name: x-rot;
  animation-duration: 1s;
}

@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes x-rot {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.show-nav {
  transition: var(--transition);
  right: -3%;
}
nav ul li {
  margin-bottom: 5rem;
}
nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 700px) {
  nav ul {
    display: flex;
    flex-direction: flex;
    gap: 0 2rem;
  }
  nav ul li {
    list-style: none;
  }
  .bars {
    display: none;
  }
  nav ul li span {
    display: none;
  }
  nav ul li a {
    display: block;
    transition: var(--transition);
  }
  nav ul li a:hover {
    color: var(--b-color);
    font-size: 1.2rem;
  }

  .nav-links {
    position: absolute;
    top: 0%;
    right: 0;
    transition: var(--transition);
  }
}
/* 
======================
banner
======================
*/

.Banner-sec {
  /* height: 100vh; */
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.banner-text {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  place-content: center; */
  /* height: 100%; */
  margin: 0 auto;
  margin-bottom: 4rem;
  /* text-align: center; */
}

.banner h3 {
  font-size: 0.7rem;
}

.banner h1 {
  font-size: 3.4rem;
}
.banner h4 {
  font-size: 2rem;
  color: var(--b-color);
}
.banner p {
  font-size: 1rem;
}

span {
  color: var(--b-color);
}

.pro {
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -2rem;
}

/* 
======================
global grid
======================
*/
@media screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
  }
}

.line {
  width: 20%;
  background-color: var(--white-color);
  height: 2px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.sectiion-title {
  margin-bottom: 2rem;
}
.sectiion-title h2 {
  text-align: center;
}

/* 
======================
about
======================
*/

.about img {
  /* width: 100%; */
  margin-bottom: 0.5rem;
}
.about-photo {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
@media screen and (min-width: 700px) {
  .about img {
    width: 70%;
    margin-bottom: 0.5rem;
  }
}

/* 
======================
skill
======================
*/

.skill-sec {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  align-items: center;
  place-items: center;
  /* width: 100%; */
  padding: 15px;
}

.skill-set {
  /* padding: 10px; */
  width: 80%;
  padding: 15px;
  box-shadow: var(--box-shadow-2);
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
  background: var(--white-color);
}
.skill-img img {
  margin: 0 auto;
  color: white;

  width: 40px;
}
.skill-set h4 {
  color: black;
  text-align: center;
  font-size: 0.5rem;
  width: 300;
}

/* 
======================
global grid
======================
*/

.allprojects {
  background: var(--black-gray2);
  /* width: 90%; */
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  padding: auto;
  margin-bottom: 2rem;
  transition: var(--transition);
}

/* .allprojects img {
  width: 100%;
  margin: 0 auto;
} */
/* 
.projects {
} */
.allprojects p {
  font-size: 0.7rem;
  line-height: 1;
  margin-top: 10px;
}

.live {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: -0.7rem;
  /* place-content: center; */
}
.icons {
  box-shadow: var(--box-shadow);
  padding: 25px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.live span i:hover {
  font-size: 2rem;
}

@media screen and (min-width: 700px) {
  .projects-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 0 6rem;
  }
}

/* 
======================
footer
======================
*/

.footer .footer-sec form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
  /* width: 90%; */
  row-gap: 1rem;
}

.footer .footer-sec form input {
  outline: none;
  border: 3px dotted var(--b-color);
  border-radius: 5px;
  padding: 7px;
}

.footer .footer-sec form textarea {
  outline: none;
  border: 3px dotted var(--b-color);
  border-radius: 5px;
  /* padding: 5x; */
  height: 100px;
}

.footer .footer-sec button {
  outline: transparent;
  background: var(--b-color);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  width: 25%;
  border: none;
  font-size: 1rem;
  transition: var(--transition);
}

.footer .footer-sec button:hover {
  background: var(--black-gray);
  color: white;
  border: 1px solid var(--white-color);
}
.footer .footer-sec button span i {
  color: var(--black-gray);
  margin-left: 1rem;
  font-size: 1.2rem;
  transition: var(--transition);
}

.footer .footer-sec button span:hover i {
  color: var(--b-color);
}
.contacts div {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  /* align-items: center; */
}
/* .contacts span i {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  place-content: center;
  place-items: center;
} */

.socials {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 700px) {
  .footer-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 12rem;
  }

  .footer .footer-sec button {
    width: 20%;
  }
  .socials {
    margin-top: -6rem;
  }
}
